/* Checkbox */
.toggler-wrapper {
  cursor: pointer;
  margin: 4px 6px;
  display: flex;
  align-items: center;
  gap: 9px;
  min-height: 26px;
}

.toggler-wrapper div[type='checkbox'] {
  display: block;
  flex: 0 0 36px;
  width: 36px;
  height: 18px;
  position: relative;
}

.toggler-wrapper input[type='checkbox'] {
  /* display: inline-block; */
  display: none;
  width: 2rem;
  height: 1.5rem;
}

/*
.toggler-wrapper div.checkbox.checked+.toggler-slider {
  background-color: #44cc66;
}
*/

.toggler-wrapper .toggler-slider {
  background-color: #ccc;
  position: absolute;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;

  display: inline-block;
  width: 32px;
  height: 18px;
  left: 2px;
  top: 0;
}

.toggler-wrapper [type='checkbox']:focus .toggler-slider {
  outline: 2px rgba(255, 255, 255, 0.9) solid;
  outline-offset: 2px;
}

.toggler-wrapper [type='checkbox'][checked='checked'] .toggler-slider {
  background-color: #44cc66;
}

/* .ytaf-ui-container .toggler-slider:focus {
  background-color: #5000a0;
}

.toggler-wrapper [type="checkbox"][checked="checked"]+.toggler-slider:focus {
  background-color: #5000a0;
} */

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper
  [type='checkbox'][checked='checked']
  .toggler-slider
  .toggler-knob {
  left: 18px;
}

/*
.toggler-wrapper div.checkbox.checked+.toggler-slider .toggler-knob {
  left: 23px;
}
*/

.toggler-wrapper .toggler-knob {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: 1.5px;
  top: 1.5px;
  background-color: #fff;
}

.toggler-wrapper .desc {
  display: block;
  padding-left: 0;
  font-size: 0.86rem;
  line-height: 1.15;
}
